.searchbar input {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    font-size: 15px;
    background-color: rgba(0, 0, 0, 0.6);
    color:rgba(255, 228, 196, 0.8);
}
.searchbar button {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    font-size: 15px;
    border-radius: 8px;
    cursor: pointer;
    transition: .2s;
}
.searchbar button:hover {
    background-color: rgba(0, 0, 0, 0.568);
    color: rgba(255, 228, 196, 0.61);
    box-shadow: 0 0 8px black;
}